@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-size: 14px;
  line-height: 1.42857143;
  color: #000;
  background: #fff;
  margin: 0px;
  padding: 0px;
  background: url(../src//assets//images//bg.jpg) repeat;
  background-size: 100% 100%;
  background-attachment: fixed;
  font-family: "Spartan", sans-serif !important;
  overflow-x: hidden;
}
@font-face {
  font-family: "spartan";
  font-style: normal;
  font-weight: normal;
  src: local("spartan"), url("./assets//fonts//Spartan.ttf") format("woff");
}
@font-face {
  font-family: "lexend";
  font-style: normal;
  font-weight: normal;
  src: local("lexend"), url("./assets//fonts//Lexend.ttf") format("woff");
}
@font-face {
  font-family: "roboto";
  font-style: normal;
  font-weight: normal;
  src: local("roboto"), url("./assets//fonts//Roboto.ttf") format("woff");
}
.header-top {
  background: linear-gradient(90deg, #812868 0%, #f954a4 100%);
  color: #fff;
  padding: 8px 15px;
  /* margin: 0 auto; */
}
.header-social li a {
  display: block;
  padding: 0px 5px;
  color: #fff;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.nav-link li a {
  font-size: 1rem;
  padding: 0 7px;
  margin: 0 0 0 5px;
  font-family: spartan;
  font-weight: 600;
}
.nfotcont {
  padding-top: 5rem;
  padding-bottom: 2rem;
  /* background-color: #f9f9f9; */
  color: #000;
  background: url(../images/fotbg2.jpeg) no-repeat;
  background-size: cover;
  background-position: center;
}
.nfot-soclist li a {
  border-radius: 50%;
  background: #fff;
  padding: 0;
  width: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 35px;
  line-height: 35px;
  text-align: center;
  box-shadow: 0 5px 50px 0 rgba(0, 0, 0, 0.2);
  font-size: 15px;
  margin-right: 10px;
}
.nfot-soclist li:nth-child(1) a {
  color: #3b5998;
}
.nfot-soclist li:nth-child(2) a {
  color: #1da1f2;
}
.nfot-soclist li:nth-child(3) a {
  color: #e1306c;
}
.nfot-soclist li:nth-child(4) a {
  color: #ff0000;
}
.nav li a {
  border: 1px solid;
  border-color: transparent;
  border-right: 0;
  border-left: 0;
  padding: 0px 7px;
  text-align: center;
  position: relative;
  margin-left: 5px;
  z-index: 999;
  /* color: #ffffff; */
  display: block;
  line-height: 34px;
  outline: medium none;
  text-align: justify;
  text-decoration: none;
  font-weight: 400;
}
.menu a:hover {
  border-color: #b11e6f;
  color: #b11e6f;
}

.btn {
  display: inline-block;
  margin-bottom: 0;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
}
.btn-outline,
.btn-outline:hover,
.btn-outline:focus {
  background: linear-gradient(
    90deg,
    rgba(177, 30, 111, 1) 0%,
    rgba(74, 14, 192, 1) 100%
  ) !important;
  border: 2px solid #fff !important;
  margin-top: 1rem;
  font-size: 15px !important;
  padding: 10px 20px !important;
  border-radius: 30px !important;
  color: #fff !important;
}

.downapp {
  background: linear-gradient(100deg, rgba(0, 0, 0, 1), rgba(35, 31, 32, 0.6)),
    url(/src//assets//images//appbg.jpg) no-repeat center;
  background-size: cover;
  background-attachment: fixed;
  padding: 90px 15px;
  color: #fff;
}
p {
  font-size: 13px;
  /* margin: 0 0 10px; */
}
.embed-responsive-16by9 {
  border: 20px solid #fff;
}
.footerbg {
  background: linear-gradient(100deg, rgba(0, 0, 0, 1), rgba(35, 31, 32, 0.6)),
    url(/src//assets//images//appbg.jpg) no-repeat center;
}
.background {
  background-image: url("../src/assets/images/back.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.card {
  border-radius: 4px;
  background: #fff;
  box-shadow: 0 2px 4px 0 rgb(0 0 0 / 10%);
  margin-bottom: 4rem;
  text-align: center;
  cursor: pointer;
}
.card:hover {
  transform: translateY(-10px);
  transition: all 1.5s cubic-bezier(0.19, 1, 0.22, 1);
  box-shadow: 0px 15px 50px 0 rgba(0, 0, 0, 0.455);
}
#student-container {
  width: 100%;
  height: auto;
  display: block;
  position: relative;
  background: url(./assets/images/student-talk.jpg) no-repeat center;
  background-size: cover;
  padding: 70px 0;
  background-attachment: fixed;
}
.testimonial-content .embed-responsive-16by9 {
  border: 5px solid #fff !important;
}
.slide {
  position: relative;
  left: 0%;
  width: 100%;
  height: 80vh;
}

.show {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  animation: fade 1.5s ease-in-out;
}

.show > div {
  width: 100%;
  height: 100%;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

/* @-webkit-keyframes trans {
  from {
    left: 100%;
  }
  to {
    left: 0%;
  }
}

@keyframes trans {
  from {
    left: 100%;
  }
  to {
    left: 0%;
  }
} */

@keyframes fade {
  from {
    opacity: 0.1;
  }
  to {
    opacity: 1;
  }
}

.not-show {
  display: none;
}

.prev {
  position: absolute;
  top: 50%;
  left: 1px;
  transform: translateY(-50%);
  font-size: 40px;
  background-color: #00000069;
  padding: 10px;
}

.next {
  position: absolute;
  top: 50%;
  right: 1px;
  transform: translateY(-50%);
  font-size: 40px;
  background-color: #00000069;
  padding: 10px;
}

button {
  border: 0;
  background-color: Transparent;
  font-size: 20px;
}

.page {
  text-align: center;
}
.dot {
  cursor: pointer;
  height: 5px;
  width: 20px;
  margin: 0 2px;
  background-color: #ddd;
  display: inline-flex;
  transition: background-color 0.6s ease;
}

button:hover,
.dot:hover,
.active {
  background-color: #717171;
  opacity: 1;
}
.marquee {
  position: relative;
  width: 100%;
  display: block;
  clear: both;
  margin: 0 auto;
  display: flex;
  align-items: center;
  margin-top: 10px;
  overflow-x: hidden;

  /* display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; */
}
.marquee strong {
  display: inline-block;
  font-size: 16px;
  color: #b11e6f;
  line-height: 23px;
  font-weight: bold;
  text-align: justify;
}

.marqueeq {
  display: inline-block;
  width: 78%;
  float: right;
}
#logo {
  position: relative;
  display: inline-block;
  width: 120px;
}
.tel-em {
  align-items: center !important;
}
.ft-bg {
  /* padding-top: 5rem; */
  /* padding-bottom: 2rem; */
  /* background-color: #f9f9f9; */
  color: #000;
  background: url(./assets//images//fotbg2.jpeg) no-repeat;
  background-size: cover;
  background-position: center;
}
/* For Mobile Portrait View */
@media screen and (min-width: 320px) and (max-width: 480px) and (orientation: portrait) {
  p {
    /* font-size: 15px; */
    margin: 0 0 10px;
  }
  .downapp {
    padding: 50px 0 !important;
  }
  /* .nappimg {
    text-align: left !important;
  } */
  .embed-responsive-16by9 {
    margin-top: 5rem;
    border: 5px solid #fff;
  }
  .nfotcont {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
  .slide {
    position: relative;
    left: 0%;
    width: 100%;
    height: 30vh;
  }
  .responsive-menu select {
    width: 100%;
    height: auto;
    text-align: left;
    /* margin: 20px 0px; */
    background: #0b1f71;
    color: #fff;
    border: none;
    padding: 10px;
    margin: 20px 0;
  }
}

@media only screen and (min-width: 481px) and (max-width: 768px) {
  .responsive-menu select {
    width: 100%;
    height: auto;
    text-align: left;
    /* margin: 20px 0px; */
    background: #0b1f71;
    color: #fff;
    border: none;
    padding-left: 10px;
    margin: 20px;
  }
}
